
/* Tablet */

@media (max-width: 1199px) {

    .descktop-only {
        display: none !important;
    }
    .container {
        width: 768px;
    }
    .container.container-small {
        width: 768px;
    }
    .nav-list {
        gap: 30px;
    }
    .promo {
        padding-left: 20px;
        height: 350px;
        border-radius: 20px;
    }
    .promo-title {
        margin-bottom: 0px;
        font-size: 40px;
    }
    .promo-text {
        font-size: 18px;
    }
    .main-content {
        padding: 60px 0;
    }
    .content-row {
        align-items: flex-start;
        column-gap: 30px;
    }
    .content-img {
        border-radius: 20px;
    }
    .content-img, .content-text {
        flex: 1;
    }
    .content-text {
        row-gap: 10px;
    }
    .title-1 {
        font-size: 38px;
    }
    .content-text p, .content-text a {
        font-size: 14px;
    }
    .footer {
        padding: 40px 0;
    }
    .footer-row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }
    .footer-contacts {
        text-align: left;
    }

    /* inner-page */

    .inner-page {
        padding: 60px 0;
    }
    .inner-page-title-wrapper {
        margin-bottom: 40px;
    }
    .cards-wrapper {
        row-gap: 40px;
    }
    .card {
        width: 354px;
    }

    /* Article */

    .article-content p {
        font-size: 16px;
    }

    /* Contacts */

    .contacts-colums {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .addres-wrapper {
        width: 100%;
        gap: 40px;
    }
    .form-wrapper {
        width: 100%;
    }
}
